<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotusVisualize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HotusVisualize.Properties.Settings>
            <setting name="LastProfileFile" serializeAs="String">
                <value />
            </setting>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F2Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NameFont" serializeAs="String">
                <value>Arial Rounded MT Bold, 8.25pt</value>
            </setting>
            <setting name="F1Image" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="F2Image" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="F2IsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameColor" serializeAs="String">
                <value>ForestGreen</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdateOnStart" serializeAs="String">
                <value>True</value>
            </setting>
        </HotusVisualize.Properties.Settings>
    </userSettings>
</configuration>